@page
@model TestSite.Pages.Admin.OrdersModel

@using TestSite.Statics

@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>

<div class="btn-group" data-toggle="buttons" id="Filters">
    <label class="btn btn-primary"><input type="checkbox">@OrderStatus.New</label>
    <label class="btn btn-primary"><input type="checkbox">@OrderStatus.InProgress</label>
    <label class="btn btn-primary"><input type="checkbox">@OrderStatus.Completed</label>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Order Date</th>
            <th scope="col">Shipment Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody id="Table"></tbody>
</table>

<div class="modal fade" id="Info">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Order detais
                </h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Item ID</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody id="DetailsTable"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="update">Update order status</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var Orders;

        $("#Filters").children().change(UpdateFilters);
        $("#update").click(UpdateOrderStatus)

        $("document").ready(GetOrders);

        function UpdateFilters() {

            var ActiveFilters = [];
            var buttons = $(this).siblings().addBack();

            for (i = 0; i < buttons.length; i++) {
                if ($(buttons[i]).hasClass("active")) {
                    ActiveFilters.push($(buttons[i]).text());
                }
            }

            UpdateOrders(ActiveFilters);
        };

        function GetOrders() {

            $.ajax({
                url: "/controllers/admin/GetOrders",
                success: function (result) {
                    Orders = result;
                    UpdateOrders();
                }
            });
        }

        function UpdateOrders(filters) {
            var Table = $("#Table");
            Table.empty();
            var filtered;

            if (filters != null && filters.length != 0) filtered = Orders.filter(function (i) { return filters.includes(i.status); });
            else filtered = Orders;

            for (var i in filtered) {
                var a = filtered[i];
                var builder = `<td>${a.id}</td><td>${a.customer_ID}</td><td>${a.customer_name}</td><td>${a.order_Date}</td><td>${a.shipment_Date == null ? "Not delivered yet" : a.shipment_Date}</td><td>${a.status}</td>`;
                $("#Table").append(`<tr>${builder}</tr>`);
            }

            $("#Table").children().click(ShowDetails);
        }

        function ShowDetails() {
            var trigger = $(this);

            $.ajax({
                url: "/controllers/admin/GetOrderElements?id=" + $(trigger.children()[0]).text(),
                success: function (result) {
                    $("#DetailsTable").empty();

                    for (var i in result) {
                        var a = result[i];
                        var builder = `<td>${a.item_ID}</td><td>${a.itemName}</td><td>${a.category}</td><td>${a.items_Count}</td><td>${a.item_Price} $</td><input type="hidden" value="${$(trigger.children()[0]).text()}"/>`;
                        $("#DetailsTable").append(`<tr>${builder}</tr>`);
                    }
                    $("#DetailsTable").append(`<input type="hidden" value="${trigger.children("input").val()}"/>`)

                    if ($(trigger.children()[5]).text() == "@OrderStatus.Completed") { $("#update").hide(); } else { $("#update").show(); }

                    $("#Info").modal("show");
                }
            });
        }

        function UpdateOrderStatus() {

            $.ajax({
                url: "/controllers/admin/UpdateOrderStatus?id=" + $("#DetailsTable input:hidden").val(),
                method: "PUT",
                success: function () {
                    GetOrders();
                    $("#Info").modal("hide");
                }
            });
        }

    </script>
}