@page
@model TestSite.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Simple_User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Simple_User.ID" />
            <div class="form-group">
                <label asp-for="Simple_User.Name" class="control-label"></label>
                <input asp-for="Simple_User.Name" class="form-control" />
                <span asp-validation-for="Simple_User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Simple_User.Code" class="control-label"></label>
                <input asp-for="Simple_User.Code" class="form-control" />
                <span asp-validation-for="Simple_User.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Simple_User.Address" class="control-label"></label>
                <input asp-for="Simple_User.Address" class="form-control" />
                <span asp-validation-for="Simple_User.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Simple_User.Discount" class="control-label"></label>
                <input asp-for="Simple_User.Discount" class="form-control" />
                <span asp-validation-for="Simple_User.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
