@page
@model IndexModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Home page";

    <h3> Id = @UserManager.GetUserId(User)</h3>
    <h1> test = </h1>
}