@page
@model TestSite.Pages.Errors.InvalidUserModel
@{
    ViewData["Title"] = "InvalidUser";
}

<div class="jumbotron">
    <h2 class="display-4">Warning, your account is still inactive!</h2>
    <p class="lead">Please wait until administrator will approve your request and only then you'll be able to access the rest of the site</p>
</div>

