@page
@model TestSite.Pages.Errors.NotAdminModel
@{
    ViewData["Title"] = "NotAdmin";
}

<div class="jumbotron">
    <h2 class="display-4">Warning, you can't access this page!</h2>
    <p class="lead">Only managers can access this page</p>
</div>
